.profile{
  display: flex;
  flex-direction: column;

  &__card1 {
	width: 82vw;

	&__container{
	  display: flex;
	  align-items: center;

	  &__img{
		border: 1px solid rgba(0, 0, 0, 0.4);
	  }

	  &__info{
		margin-left: 60rem;
		width: 600rem;
		height: 200rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&__data{
		  display: flex;
		  width: 100%;
		  flex-wrap: nowrap;
		  justify-content: space-around;
		  border: 1px solid rgba(0, 0, 0, 0.3);
		  border-radius: 20rem;
		  padding: 10rem;
		  margin-top: 20rem;
		}
	  }

	  &__detail{
		display: flex;
		justify-content: start;
		height: 200rem;
		width: 45%;
		padding: 10rem 30rem;
		margin-left: 50rem;
		border-left: 1px solid rgba(0, 0, 0, 0.3);

		&__timeline{
		  padding-top: 25rem
		}

		&__button{
		  align-self: flex-end;
		  margin-left: 60rem;
		}
	  }
	}
  }

  &__card2{
	width: 82vw;
	&__container{
	  display: flex;
	  justify-content: space-between;
	  align-items: center;

	  &__progress{
		padding-left: 20rem;
		width: 42vw;
	  }

	}
  }
}