.home {
  height: 82vh;
}
.home__rightBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.home__user {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.home__user__avatar {
  height: 200rem;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.3);
}
.home__user__info {
  display: flex;
  height: 100rem;
  flex-direction: column;
  justify-content: space-between;
}
.home__loginfo {
  display: flex;
  height: 100rem;
  margin-top: 30rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  flex-direction: column;
  justify-content: space-evenly;
}
.home__loginfo > p {
  position: relative;
}
.home__loginfo__titles {
  position: absolute;
  left: 0;
  color: rgba(0, 0, 0, 0.5);
}
.home__loginfo__args {
  position: absolute;
  left: 250rem;
}
.home__revenueContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.home__revenueContainer__card {
  display: flex;
  align-items: center;
  width: 30%;
  height: 120rem;
  margin-bottom: 20rem;
  position: relative;
}
.home__revenueContainer__card__logoContainer--1, .home__revenueContainer__card__logoContainer--4 {
  position: absolute;
  right: 10rem;
  top: 10rem;
  height: 100rem;
  width: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
  background-color: #ADEEE2;
}
.home__revenueContainer__card__logoContainer--1__logo, .home__revenueContainer__card__logoContainer--4__logo {
  font-size: 40rem;
}
.home__revenueContainer__card__logoContainer--2, .home__revenueContainer__card__logoContainer--5 {
  position: absolute;
  right: 10rem;
  top: 10rem;
  height: 100rem;
  width: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
  background-color: #A2DCEE;
}
.home__revenueContainer__card__logoContainer--2__logo, .home__revenueContainer__card__logoContainer--5__logo {
  font-size: 40rem;
}
.home__revenueContainer__card__logoContainer--3, .home__revenueContainer__card__logoContainer--6 {
  position: absolute;
  right: 10rem;
  top: 10rem;
  height: 100rem;
  width: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
  background-color: #A2B9EE;
}
.home__revenueContainer__card__logoContainer--3__logo, .home__revenueContainer__card__logoContainer--6__logo {
  font-size: 40rem;
}
.home__linechartContainer {
  display: flex;
  width: 95%;
  justify-content: center;
  align-items: center;
  margin-bottom: 15rem;
  position: relative;
}
.home__linechartContainer__title {
  position: absolute;
  display: inline-block;
  width: 30rem;
  left: 20rem;
  top: 30rem;
}
.home__piechartContainer {
  display: flex;
  justify-content: space-around;
  width: 95%;
  height: 300rem;
  position: relative;
}
.home__piechartContainer__title--1 {
  position: absolute;
  left: 15rem;
  bottom: 20rem;
}
.home__piechartContainer__title--2 {
  position: absolute;
  right: 320rem;
  bottom: 20rem;
}

/*# sourceMappingURL=home.css.map */
